<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_DIR" value="logs"/>
    <property name="LOG_PATH_NAME" value="${LOG_DIR}/today.log"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%-5level] %c.%M:%L - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH_NAME}</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_DIR}/%d{yyyy,aux}/%d{MM,aux}/%d{dd,aux}/%d{yyyyMMdd}_%i.log</fileNamePattern>
            <!-- or whenever the file size reaches 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- keep 90 days' worth of history -->
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%-5level] %c.%M:%L - %msg%n</Pattern>
        </layout>
    </appender>

    <!-- SQL문만을 로그로 남기며, PreparedStatement일 경우 관련된 argument 값으로 대체된 SQL문이 보여진다. -->
    <logger name="jdbc.sqlonly" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
        <level value="OFF"/>
    </logger>

    <!-- SQL문과 해당 SQL을 실행시키는데 수행된 시간 정보(milliseconds)를 포함한다. -->
    <logger name="jdbc.sqltiming" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
        <level value="DEBUG"/>
    </logger>

    <logger name="jdbc.resultset" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
        <level value="OFF"/>
    </logger>

    <logger name="jdbc.resultsettable" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
        <level value="DEBUG"/>
    </logger>

    <logger name="jdbc.connection" additivity="false">
        <appender-ref ref="FILE"/>
        <level value="OFF"/>
    </logger>

    <logger name="jdbc.audit" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
        <level value="OFF"/>
    </logger>

    <logger name="Connection" level="INFO" additivity="false">
        <appender-ref ref="Connection"/>
    </logger>

    <logger name="Config" level="INFO" additivity="false">
        <appender-ref ref="Config"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>